html {
  background: url('http://lofi-radio.com/comictree/bg.jpg')
}

.App {
  text-align: center;  
}

* {
  font-family: 'Slabo 27px', serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Slabo 27px', serif;
  font-weight: 800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comic_title {}

.comic_image {
  max-height: 75vh;
  max-width: 80vw;
}

.comic_image-small {
  height: 114px;
  width: auto;
  display: block;
}

.comic_navigation {
  padding: 40px 0px;
  font-weight: 800;
}

.comic_navigation-button {
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid #eee;
  display: inline-block;
  box-shadow: 10px 10px #efefef;
}

.comic_thumbnail_navigation {
  max-width: 768px;
  margin: 10px auto;
  display: inline-block;
}

.comic_image-small-wrapper {
  display: inline-block;
  cursor: pointer;
  opacity: 0.33;
  margin: 0 5px;
  border: 6px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

.comic_image-small-wrapper.selected {
  opacity: 1;
  border: 6px solid #efefef;
}

.comic_image-small-wrapper.selected:hover {
  opacity: 1;
  border: 6px solid #eee;
}

.comic_image-small-wrapper:hover {
  opacity: 1;
}

.comic_wrapper {
  padding: 15px;
  border: 2px solid #eee;
  display: inline-block;
  box-shadow: 10px 10px #efefef;
  background-color: white;
}

.comic_meta-data {
  text-align: justify;
}

.hidden { 
  opacity: 0;
  pointer-events: none;
}

.FR {
  float: right;
}

.FL {
  float: left;
}